.dropdown
  position: relative
  padding: 0 15px
  width: 320px
  height: 60px
  line-height: 60px
  border-radius: 30px
  cursor: pointer
  background-color: $bgGrey
  transition: $transition

  &.open
    //.dropdown__list
    //  visibility: visible
    .dropdown__el
      &.is-active
        &:after
          position: absolute
          content: ''
          top: 50%
          right: 20px
          transform: translateY(-50%)
          width: 24px
          height: 24px
          background-image: url('~media/check_green.svg')
          background-size: cover

  &__value
    position: relative
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center

    &::after
      position: absolute
      content: ''
      right: 20px
      top: 50%
      width: 12px
      height: 12px
      background-image: url('~media/arrow-down.svg')
      background-repeat: no-repeat
      background-size: cover
      transform: translateY(-50%)
      transition: $transition
      z-index: 1
      opacity: 0.75

  &__icon
    width: 30px
    height: 30px
    margin-right: 12px
    border-radius: 50px
    background-color: #182638

  &__list
    display: none
    position: absolute
    left: 50%
    top: calc(50% - 50px)
    transform: translate(-50%, -50%)
    width: 320px
    max-height: 390px
    background-color: $bgGrey
    border-radius: 8px
    z-index: 10
    overflow-y: scroll
    transition: $transition

  &__el
    position: relative
    padding: 0 15px
    display: flex
    align-items: center
    height: 60px
    line-height: 60px
    transition: $transition
    &:hover
      background-color: rgba(white, 0.05)

  &__name
    color: #fff
    font-size: 17px