.icon
  display: inline-block
  vertical-align: middle

  &.de
    width: 30px
    height: 30px
    background-image: url('../media/de.svg')
    background-size: cover

  &.star_blue
    width: 16px
    height: 16px
    background-image: url('../media/star_blue.svg')
    background-size: cover

  &.star_black
    width: 16px
    height: 16px
    background-image: url('../media/star_dark.svg')
    background-size: cover

  &.icon-close
    width: 16px
    height: 16px
    background-image: url('../media/icon_close.svg')

  &.is-castle
    width: 16px
    height: 16px
    background-image: url('../media/icon_castle.svg')

  &.is-arrow-blue
    width: 16px
    height: 16px
    background-image: url('../media/check_blue.svg')

