-
  const plansItems = [
    { period: '1 month', price: '$9.99', saving: 'Save 0%' },
    { period: '2 year', price: '$2.99', saving: 'Save 75%', active: true, best: true },
    { period: '6 month', price: '$4.99', saving: 'Save 25%' }
  ]

  const plansItems2 = [
  { period: '1 month', price: '$9.99', saving: 'Save 0%', active: true },
  { period: '2 year', price: '$2.99', saving: 'Save 75%', best: true },
  { period: '6 month', price: '$4.99', saving: 'Save 25%' }
  ]

  const advantagesItems = [
    '90 servers in 15 locations', 'Lightning speeds', 'Protect up to 3 devices', 'Unlimited bandwidth'
  ]

  const advantagesItemsBlue = [
  'Military-grade encryption', 'P2P optimized', 'Lightning speeds', 'Strict no–logs policy'
  ]

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    base(target="_blank")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-115499552-1")
    meta(name="description" content="Pioneering Private Digital Transactions")
    title
      block title
  body
    block main
