extends ../base
block title
  |VPN
block main
  div.container
    div.atom
      div.app.trial
        div.main
          div.notification-center
            div.notification
              span.notification__text <strong>Trial Mode</strong>: New VPN time slot is available.
              span.notification__label Remove Time Limit
            div.notification.orange
          div.switch-wrap
            div.switch-wrap__top
              span.switch-wrap__name Connected
            div.switch-wrap__bottom
              div.switch
                label.switch__label
                input.switch__input(type='checkbox')
                span.switch__name Off
                span.switch__name.is-on On
                span.switch__round
          div.browsing
            span.browsing__text Browsing from:
            div.dropdown
              div.dropdown-main
                div.dropdown-main__title
                  span.dropdown__icon
                  span.dropdown__name Germany
                div.dropdown-main__arrow
                  span.icon.arrow-down
              ul.dropdown__list
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
        div.footer
          ul.list
            li.list__el
              div.data
                span.data__name Virtual IP:
                span.data__quantity -
              li.list__el
                div.data
                  span.data__name Received:
                  span.data__quantity -
              li.list__el
                div.data
                  span.data__name Sent:
                  span.data__quantity -

    div.atom
      div.app.trial
        div.main
          div.notification-center
            div.notification
              span.notification__text <strong>Trial Mode</strong>: New VPN time slot is available.
              div.notification__label Remove Time Limit
            div.notification.orange
          div.switch-wrap
            div.switch-wrap__top
              span.switch-wrap__name Connected
            div.switch-wrap__bottom
              div.switch.loading.active
                label.switch__label
                  input.switch__input(type='checkbox')
                  span.switch__name Off
                  span.switch__round
          div.browsing
            span.browsing__text Browsing from:
            div.dropdown
              div.dropdown-main
                div.dropdown-main__title
                  span.dropdown__icon
                  span.dropdown__name Germany
                div.dropdown-main__arrow
                  span.icon.arrow-down
              ul.dropdown__list
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
        div.footer
          ul.list
            li.list__el
              div.data
                span.data__name Virtual IP:
                span.data__quantity -
              li.list__el
                div.data
                  span.data__name Received:
                  span.data__quantity -
              li.list__el
                div.data
                  span.data__name Sent:
                  span.data__quantity -

    div.atom
      div.app.trial
        div.main
          div.notification-center
            div.notification.orange
              span.notification__text <strong>Trial Mode</strong>: New VPN time slot is available.
              div.notification__label Remove Time Limit
          div.switch-wrap
            div.switch-wrap__top
              span.switch-wrap__name Connected
            div.switch-wrap__bottom
              div.switch
                label.switch__label
                input.switch__input(type='checkbox')
                span.switch__name Off
                span.switch__name.is-on On
                span.switch__round
          div.browsing
            span.browsing__text Browsing from:
            div.dropdown
              div.dropdown-main
                div.dropdown-main__title
                  span.dropdown__icon
                  span.dropdown__name Germany
                div.dropdown-main__arrow
                  span.icon.arrow-down
              ul.dropdown__list
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
        div.footer
          ul.list
            li.list__el
              div.data
                span.data__name Virtual IP:
                span.data__quantity 192.255.255.0
              li.list__el
                div.data
                  span.data__name Received:
                  span.data__quantity 728 Mb
              li.list__el
                div.data
                  span.data__name Sent:
                  span.data__quantity 282 Mb

    div.atom
      div.app.trial
        div.main
          div.notification-center
            div.notification.red
              span.notification__text <strong>Trial Mode</strong>: New VPN time slot is available.
              div.notification__label Remove Time Limit
          div.switch-wrap
            div.switch-wrap__top
              span.switch-wrap__name Connected
            div.switch-wrap__bottom
              div.switch
                label.switch__label
                input.switch__input(type='checkbox')
                span.switch__name Off
                span.switch__name.is-on On
                span.switch__round
          div.browsing
            span.browsing__text Browsing from:
            div.dropdown
              div.dropdown-main
                div.dropdown-main__title
                  span.dropdown__icon
                  span.dropdown__name Germany
                div.dropdown-main__arrow
                  span.icon.arrow-down
              ul.dropdown__list
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
        div.footer
          ul.list
            li.list__el
              div.data
                span.data__name Virtual IP:
                span.data__quantity 192.255.255.0
              li.list__el
                div.data
                  span.data__name Received:
                  span.data__quantity 728 Mb
              li.list__el
                div.data
                  span.data__name Sent:
                  span.data__quantity 282 Mb
    div.atom
      div.app.trial
        div.main
          div.notification-center
            div.notification
              span.notification__text <span class="bold">Trial Mode</span>: New VPN time slot is available.
              div.notification__label Remove Time Limit
          div.switch-wrap
            div.switch-wrap__top
              span.switch-wrap__name Connected
            div.switch-wrap__bottom
              div.switch.disabled
                label.switch__label
                input.switch__input(type='checkbox')
                span.switch__name Off
                span.switch__name.is-on On
                span.switch__round
          div.browsing
            span.browsing__text Browsing from:
            div.dropdown
              div.dropdown-main
                div.dropdown-main__title
                  span.dropdown__icon
                  span.dropdown__name Germany
                div.dropdown-main__arrow
                  span.icon.arrow-down
              ul.dropdown__list
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
        div.footer
          ul.list
            li.list__el
              div.data
                span.data__name Virtual IP:
                span.data__quantity -
              li.list__el
                div.data
                  span.data__name Received:
                  span.data__quantity -
              li.list__el
                div.data
                  span.data__name Sent:
                  span.data__quantity -
    div.atom
      div.app
        div.main
          div.switch-wrap
            div.switch-wrap__top
              span.switch-wrap__name Click to connect
            div.switch-wrap__bottom
              div.switch
                label.switch__label
                input.switch__input(type='checkbox')
                span.switch__name Off
                span.switch__name.is-on On
                span.switch__round
          div.browsing
            span.browsing__text Browsing from:
            div.dropdown
              div.dropdown-main
                div.dropdown-main__title
                  span.dropdown__icon
                  span.dropdown__name Germany
                div.dropdown-main__arrow
                  span.icon.arrow-down
              ul.dropdown__list
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany

        div.footer
          ul.list
            li.list__el
              div.data
                span.data__name Virtual IP:
                span.data__quantity -
              li.list__el
                div.data
                  span.data__name Received:
                  span.data__quantity -
              li.list__el
                div.data
                  span.data__name Sent:
                  span.data__quantity -

    div.atom
      div.app
        div.main
          div.switch-wrap
            div.switch-wrap__top
              span.switch-wrap__name Connected
            div.switch-wrap__bottom
              div.switch.active
                label.switch__label
                input.switch__input(type='checkbox')
                span.switch__name Off
                span.switch__name.is-on On
                span.switch__round
          div.browsing
            span.browsing__text Browsing from:
            div.dropdown
              div.dropdown-main
                div.dropdown-main__title
                  span.dropdown__icon
                  span.dropdown__name Germany
                div.dropdown-main__arrow
                  span.icon.arrow-down
              ul.dropdown__list
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany
                li.dropdown__el
                  span.dropdown__icon
                  span.dropdown__name Germany

        div.footer
          ul.list
            li.list__el
              div.data
                span.data__name Virtual IP:
                span.data__quantity -
              li.list__el
                div.data
                  span.data__name Received:
                  span.data__quantity -
              li.list__el
                div.data
                  span.data__name Sent:
                  span.data__quantity -
    div.atom
      div.dropdown
        div.dropdown-main
          div.dropdown-main__title
            span.dropdown__icon
            span.dropdown__name Germany
          div.dropdown-main__arrow
            span.icon.arrow-down
        ul.dropdown__list
          li.dropdown__el
            span.dropdown__icon
            span.dropdown__name Germany
          li.dropdown__el
            span.dropdown__icon
            span.dropdown__name Germany
          li.dropdown__el
            span.dropdown__icon
            span.dropdown__name Germany
          li.dropdown__el
            span.dropdown__icon
            span.dropdown__name Germany
          li.dropdown__el
            span.dropdown__icon
            span.dropdown__name Germany

    div.atom
      h4.text Connected
      div.switch
        label.switch__label
        input.switch__input(type='checkbox')
        span.switch__name Off
        span.switch__name.is-on On
        span.switch__round

    div.atom
      h4.text Waiting for time slot…
      div.switch.disabled
        label.switch__label
          input.switch__input(type='checkbox')
          span.switch__name Off
          span.switch__round

    div.atom
      h4.text Connecting…
      div.switch.loading
        label.switch__label
          input.switch__input(type='checkbox')
          span.switch__name Off
          span.switch__round

    div.atom
      ul.list
        li.list__el
          div.data
            span.data__name Virtual IP:
            span.data__quantity -
          li.list__el
            div.data
              span.data__name Received:
              span.data__quantity -
          li.list__el
            div.data
              span.data__name Sent:
              span.data__quantity -

    div.atom
      div.notification-center
        div.notification
          span.notification__text <strong>Trial Mode</strong>: New VPN time slot is available.
          div.notification__label Remove Time Limit
        div.notification.orange

    div.atom
      div.notification-center
        div.notification.orange
          span.notification__text <strong>Trial Mode</strong>: New VPN time slot is available.
          div.notification__label Remove Time Limit

    div.atom
      div.notification-center
        div.notification.red
          span.notification__text <strong>Trial Mode</strong>: New VPN time slot is available.
          div.notification__label Remove Time Limit
  div.atom
    div.loader