div.country
  span.country__text Browsing from:
  div.dropdown
    div.dropdown__value
      span.dropdown__icon.icon.de
      span.dropdown__name Germany

    ul.dropdown__list
      li.dropdown__el
        span.dropdown__icon
        span.dropdown__name Germany
      li.dropdown__el
        span.dropdown__icon
        span.dropdown__name Germany
      li.dropdown__el
        span.dropdown__icon
        span.dropdown__name Germany
      li.dropdown__el
        span.dropdown__icon
        span.dropdown__name Germany
      li.dropdown__el
        span.dropdown__icon
        span.dropdown__name Germany