div.mobile-menu
  ul.mobile-menu__list
    li.mobile-menu__el
      span.mobile-menu__icon.icon.is-upgrate
      span.mobile-menu__name Upgrade Now
    li.mobile-menu__el
      span.mobile-menu__icon.icon.is-settings
      span.mobile-menu__name Settings
    li.mobile-menu__el
      span.mobile-menu__icon.icon.is-about
      span.mobile-menu__name About
    li.mobile-menu__el
      span.mobile-menu__icon.icon.is-help
      span.mobile-menu__name Help